.navbar li:nth-child(3) {
  font-weight: 600;
}

.login-body main {
  padding-top: 80px;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  margin: auto;
  align-items: center;
}

#login-form h2 {
  text-align: center;
}

#login-form label {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

#login-form input {
  width: 370px;
  height: 50px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#login-form button {
  width: 179px;
  height: 36px;
  border: none;
  background-color: #1d6154;
  color: white;
  border-radius: 60px;
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
}
.login-body .reset-password {
  margin: 20px;
  text-align: center;
}

.login-body .reset-password a {
  line-height: 1.2;
  color: #3d3d3d;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 14px;
}

.login-body footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
