#modal-form {
  width: 400px;
  display: flex;
  flex-direction: column;
}
#modal-form label {
  line-height: 2;
}

#modal-form input,
#modal-form select {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 30px;
}

#modal-drop-area {
  height: 169px;
  width: 100%;
  background-color: #e8f1f6;
  box-shadow: none;
  display: flex;
  justify-content: center;
}

#modal-drop-area img {
  object-fit: contain;
}

#modal-drop-area input[type="file"] {
  visibility: hidden;
}
#input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#input-file + label {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  color: #306685;
  background-color: #cbd6dc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 173px;
  border-radius: 50px;
  position: relative;
  top: 100px;
}
