#modal-section {
  display: flex;
  justify-content: center;
}
.modal {
  display: flex;
  position: fixed;
  top: 30%;
  width: 630px;
  min-height: 200px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 10;
}

#arrow-btn {
  visibility: hidden;
  position: absolute;
  left: 25px;
  font-size: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.xmark-btn {
  position: absolute;
  right: 25px;
  font-size: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal-title {
  font-family: "Work Sans";
  font-weight: 420;
  font-size: 26px;
  margin: 40px;
}
#modal-galery {
  width: 400px;
  min-height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 20px;
  border-bottom: solid 1px #b3b3b3;
  padding-bottom: 60px;
}
.modal-delete-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: black;
  border-radius: 2px;
  position: relative;
  left: 53px;
  top: 6px;
}
.modal-delete-btn i {
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.modal-galery-el {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 102px;
}

.modal-btn {
  width: 237px;
  height: 36px;
  border-radius: 60px;
  margin: 40px auto;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  border: none;
  cursor: pointer;
}
.modal-line {
  width: 100%;
  border: solid 1px #b3b3b3;
  margin-top: 10px;
}
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
#input-file:focus + label,
#input-file + label:hover {
  background-color: #dddd;
}

#input-file + label {
  cursor: pointer; /* "hand" cursor */
}
#input-file:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
